body {
    background-color: white;
    font-family: 'Courier New';
    cursor: pointer;
}
.navbar {
    overflow: hidden;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    text-align: center;
    padding: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: right;
}

.navbar a {
    color: white;
    padding: 1%;
    color:blue;
    text-align: right;
    font-weight: bold;
    font-size: 17px;
}

.navbar a:hover {
    font-style: italic;
    color: black;
}

.quotation {
    font-style: italic;
}

.bar {
    padding: 1px;
    background-color: darkblue;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-style: italic;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 500s linear infinite;
}