html {
    height: 100%;
}
body {
    background-color: white;
    font-family: 'Georgia';
    cursor: pointer;
    width: 99%;
    length: 99%;
    background-size: cover;
}

.navbar {
    overflow: hidden;
    text-align: center;
    text-align: right;
}

.box {
    background: pink;
}

.navbar {
    /* background-image: linear-gradient(rgb(255, 255, 255), lightyellow); */
}

.navbar a {
    color: white;
    padding: 1%;
    text-decoration: none;
    color:blue;
    text-align: right;
    font-weight: bold;
    font-size: 17px;
}

.navbar a:hover {
    color: black;
    text-decoration: underline;
}

.bar {
    background-color: white;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-style: italic;
}

#navigation li a.current{
    color: #ffffff;
    background:#f1d74c;
 }