html {
    font-family: 'Corpo Serif Medium';
}

input[type=text] {
    transition: width 1s ease-in-out;
    width: 30%;
    border: none;
    border-bottom: 2px solid black;
    padding: 9px;
    text-align: center;
    font-family: 'Corpo Serif Medium';
    font-size: 20px;
}

input[type=text]:focus {
    width: 100%;
    border: none;
    border-bottom: 2px solid navy;
    outline: none;
}

form { 
    text-align: center;
}

ul {
    list-style: none;
}

ul li {
    border-style: solid;
    border-color: purple;
    margin: 10px;
    padding: 10px;
}
